
.layout {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;
}

.layout.layout-row {
    flex-direction: row;
}

.layout.layout-column {
    flex-direction: column;
}

.layout.layout-wrap {
    flex-wrap: wrap;
}

.layout.layout-nowrap {
    flex-wrap: nowrap;
}

.layout.layout-justify-start {
    justify-content: flex-start;
}

.layout.layout-justify-end {
    justify-content: flex-end;
}

.layout.layout-justify-center {
    justify-content: center;
}

.layout.layout-justify-between {
    justify-content: space-between;
}

.layout.layout-justify-around {
    justify-content: space-around;
}

.layout.layout-align-start {
    align-items: flex-start;
}

.layout.layout-align-end {
    align-items: flex-end;
}

.layout.layout-align-center {
    align-items: center;
}

.layout.layout-align-baseline {
    align-items: baseline;
}

.layout.layout-align-stretch {
    align-items: stretch;
}

.flex {
    flex: 1;
}