.red-point {
  width: 32px;
  height: 32px;
  line-height: 32px;
  border-radius: 50%;
  background-color: @redColor;
  text-align: center;
  font-size: 20px;
  color: #fff;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  transform: scale(0.5);
}
