.toast-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 7000;

  .toast {
    background: rgba(40, 40, 40, 0.75);
    text-align: center;
    border-radius: 5px;
    color: #fff;
    margin: 180px 30px;
    padding: 5px;
  }
}
