.page {
  width: 100vw;
  height: 100vh;
  background: @defaultBg;
  overflow: hidden;

  &.page-white {
    background: @whiteBg;
  }

  .page-content {
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .page-tabbar {
    height: @tabbarHeight;
  }
}

// iphone虚拟home键适配
@supports (bottom: constant(safe-area-inset-bottom)) or (bottom: env(safe-area-inset-bottom)) {
  .page {
    padding-bottom: constant(safe-area-inset-bottom); /* 兼容 iOS < 11.2 */
    padding-bottom: env(safe-area-inset-bottom); /* 兼容 iOS >= 11.2 */
  }
}
