// number 4种规格尺寸
@n0: 0;
@n5: 5px;
@n10: 10px;
@n15: 15px;

// :active
@activeColor: #ededed;

// text
@primaryColor: #3cc51f;
@warnColor: @globalWarnColor;
@linkColor: @globalLinkColor;
@descColor: @globalDescColor;

// bg
@defaultBg: #EBEBEB;
@whiteBg: white;

// page
@headerHeight: 45px;
@tabbarHeight: 55px;

// nprogress
@nprogressBg: #3cc51f;