@import "../src/index.less";

.strip {
  display: inline-block;
  width: 100px;
  height: 10px;
}

.color {
  .default {
    background: @defaultColor;
  }
  .primary {
    background: @primaryColor;
  }

  .warn {
    background: @warnColor;
  }

  .desc {
    background: @descColor
  }

  .border {
    background: @borderColor;
  }
}

.bg {
  .default {
    height: 50px;
    background: @defaultBg;
  }
}

.lazy-img-wrap {
  img {
    width: 80%;
    object-fit: cover;
  }
}

.dropperWrap {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.dropperWrap div:last-child {
  margin-top: 20px;
}